@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

/*Reset*/
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

#menu-top {
    text-align: center;
    list-style: none;
    padding: 0;
    background-color: black;
}

#menu-top ul li {
    display: inline;
}

#menu-top ul li a{
    color: white;
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    transition: 0.2s;
}

#menu-top ul li a:hover {
    background-color: green;
}